<!-- <router-outlet></router-outlet> -->
<!-- <h5>inspired by <a href="https://dribbble.com/shots/18048442-Dance-Classes-Website">tubik_ux</a></h5> -->

<div class="wrapper">
  <div class="container-fluid">
    <nav>
      <div class="logo">MOOVE</div>
      <ul class="menu">
        <li><a class="active" href="#">about</a></li>
        <li><a href="#">styles</a></li>
        <li><a href="#">feature</a></li>
        <li><a href="#">pricing</a></li>
        <li><a href="#">faq</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <h1 class="title">
      <span class="rel">
        Dance like a pro
      </span>
    </h1>
    <div class="text-and-img">
      <p>
        <span class="rel">
          Are yo not too confident with the way you dance ? Moove is the right
          answer for you !
        </span>

        <button class="btn">
          <span class="rel">
            Get started
          </span>
        </button>
      </p>
      <img
        src="https://images.pexels.com/photos/1701202/pexels-photo-1701202.jpeg?auto=compress&cs=tinysrgb&h=3456&w=5184"
        alt=""
      />
    </div>
  </div>
  <p class="note">
    <span class="ps">
      PS
    </span>
    <span class="text">
      pelase don't try me on small screens HAHA
    </span>
  </p>
</div>
