/* You can add global styles to this file, and also import other style files */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-wrapper {
  display: flex;
  .sidebar-container {
    width: 20%;
    background: #000;
    color: #fff;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    .list-unstyled {
			margin:  32px 0 0;
      a {
        color: #fff;
				margin: 15px;
				display: block;
      }
    }
    .Isactive {
      color: #fff;
      font-weight: bold;
    }
  }
  .main-content-wrapper {
    width: calc(100% - 20%);
    padding: 40px;
  }
}



// Free
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --height: clamp(3rem, 8vw, 6rem);
  --radius: 30px;
  --padding: 20px;
  --bg-color: #bcc0e6;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  font-size: 22px;

  background: var(--bg-color);
}
.wrapper {
  max-width: 100%;
  // outline: 5px solid red;
}
.text-and-img {
  display: flex;
  p {
    max-width: 300px;
    min-width: 250px;
    padding-inline-end: var(--padding);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: var(--height);
      height: var(--radius);
      top: 0;
      left: 100%;
      border-top-left-radius: var(--radius);
      box-shadow: -55px 0 0 var(--bg-color), 0 -10px var(--bg-color);
    }
  }
  img {
    font-size: inherit;
    margin-top: calc(var(--height) * -1);
    // flex-grow: 1;
    flex-shrink: 1;
    border-radius: var(--radius);

    height: 500px;
    max-width: 70%;
    object-fit: cover;
    display: block;
  }
}
.rel {
  position: relative;
}
.title {
  display: inline-flex;
  align-items: center;
  font-size: calc(var(--height) * 0.8);
  background-color: var(--bg-color);
  height: var(--height);
  padding-inline-end: var(--padding);
  border-bottom-right-radius: var(--radius);
  padding-right: 0.5em;

  z-index: 2;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100px;
    height: var(--radius);
    top: 0;
    left: 100%;
    // background:yellow;
    border-top-left-radius: var(--radius);
    box-shadow: -55px 0 0 var(--bg-color), 0 -10px var(--bg-color);
    // border-left: 5px solid #FFF;
  }

  span {
    position: relative;
  }
}

.btn {
  font-size: inherit;
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: NONE;
  background: #000;
  color: #fff;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  position: relative;
  overflow: hidden;
  span {
    z-index: 2;
  }
  &:after {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background: rgb(83, 78, 234);
    // z-index: ;
    // transform: scale(18);
    // z-index: -1;
    transition: transform 600ms;
    border-radius: 50%;
  }
  &:hover {
    &:after {
      transform: scale(18);
    }
  }
}

nav,
.menu {
  display: flex;
}

nav {
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: center;
  background: #fff;
  padding-inline: var(--padding);
  padding-block: 0.5em;

  border-radius: 0.5em;
}

.menu {
  list-style: none;
  gap: 0.4em;

  a {
    --ball-color: blue;
    --ball-opacity: 0;
    --opacity: 0.5;
    --x: -100%;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 0.5em;
    position: relative;
    text-transform: uppercase;

    opacity: var(--opacity);

    &:before {
      content: "";
      position: absolute;
      $s: 0.4em;

      height: $s;
      aspect-ratio: 1;
      background: var(--ball-color);
      right: 100%;
      border-radius: 50%;
      transform: translateY(var(--x));
      transition: all 500ms;
      opacity: var(--ball-opacity);
    }
    &.active {
      --ball-color: red;
      --ball-opacity: 1;
      --opacity: 1;
      --x: 0%;
    }

    &:hover {
      --ball-opacity: 1;
      --opacity: 1;
      --x: 0%;
    }
  }
}

.note {
  .ps {
    display: inline-block;
    padding: 0.4em;
    background: rgb(30, 24, 214);
    color: #fff;
  }
}
